2023-icwe/docker/initialized-winery/tosca-definitions/artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/DistanceMatrixCalculationService_DA/files/service.zip filter=lfs diff=lfs merge=lfs -text
2023-icwe/docker/initialized-winery/tosca-definitions/artifacttemplates/https%3A%2F%2Fust-quantil.github.io%2Fartifacttemplates/VisualizationService_DA/files/service.zip filter=lfs diff=lfs merge=lfs -text
2024-caise/docker/initialized-winery/tosca-definitions/artifacttemplates/http%3A%2F%2Fopentosca.org%2Fartifacttemplates/EC2_CloudProviderInterfaceIA-w1/files/EC2_CloudProviderInterfaceIA.war filter=lfs diff=lfs merge=lfs -text
